@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

/* Global styles for Next.js */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
